<div class='card' style="width: 18rem;">

  <img class='card-img-top w-25' src='{{this.image_url}}' alt='Card image cap' />
  <div class='card-body'>
    <a href='/beer/{{this.id}}'>
      <h5 class='card-title'>{{this.name}}</h5>
    </a>
    <p class='card-text'><small class='text-muted'>{{this.tagline}}</small></p>
    <p class='card-text'>{{this.description}}</p>

  </div>
